@font-face {
  font-family: BebasNeuePro;
  font-display: swap;
  src: url("assets/fonts/BebasNeuePro-Middle.woff2") format("woff2"), url("assets/fonts/BebasNeuePro-Middle.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BebasNeuePro;
  font-display: swap;
  src: url("assets/fonts/BebasNeuePro-Bold.woff2") format("woff2"), url("assets/fonts/BebasNeuePro-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Baltica;
  font-display: swap;
  src: url("assets/fonts/Baltica-Regular.woff2") format("woff2"), url("assets/fonts/Baltica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BalticaItalic;
  font-display: swap;
  src: url("assets/fonts/Baltica-Italic.woff2") format("woff2"), url("assets/fonts/Baltica-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BebasNeuePro;
  font-display: swap;
  src: url("assets/fonts/BebasNeuePro-Regular.woff2") format("woff2"), url("assets/fonts/BebasNeuePro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BebasNeueProExp;
  font-display: swap;
  src: url("assets/fonts/BebasNeueProExp-Regular.woff2") format("woff2"), url("assets/fonts/BebasNeueProExp-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BebasNeueProItalic;
  font-display: swap;
  src: url("assets/fonts/BebasNeueProItalic-Middle.woff2") format("woff2"), url("assets/fonts/BebasNeueProItalic-Middle.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BebasNeueProExp;
  font-display: swap;
  src: url("assets/fonts/BebasNeueProExp-Medium.woff2") format("woff2"), url("assets/fonts/BebasNeueProExp-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BebasNeueProSemiExp;
  font-display: swap;
  src: url("assets/fonts/BebasNeueProSemiExp-Middle.woff2") format("woff2"), url("assets/fonts/BebasNeueProSemiExp-Middle.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

// UA Army Labels: на цифрі 3 або 4 - тризуб, 
@font-face {
  font-family: UAArmyLabels;
  font-display: swap;
  src: url("assets/fonts/UAArmyLabels.woff2") format("woff2"), url("assets/fonts/UAArmyLabels.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Категорія - Декоративні
@font-face {
  font-family: Miama;
  font-display: swap;
  src: url("assets/fonts/Miama.woff2") format("woff2"), url("assets/fonts/Miama.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MagnoliaScript;
  font-display: swap;
  src: url("assets/fonts/MagnoliaScript.woff2") format("woff2"), url("assets/fonts/MagnoliaScript.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// акцентний плакатний шрифт
@font-face {
  font-family: KalinkaMalinka;
  font-display: swap;
  src: url("assets/fonts/KalinkaMalinka.woff2") format("woff2"), url("assets/fonts/KalinkaMalinka.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arsenal;
  font-display: swap;
  src: url("assets/fonts/Arsenal-Bold.woff2") format("woff2"), url("assets/fonts/Arsenal-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ArsenalBoldItalic;
  font-display: swap;
  src: url("assets/fonts/Arsenal-BoldItalic.woff2") format("woff2"), url("assets/fonts/Arsenal-BoldBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ArsenalItalic;
  font-display: swap;
  src: url("assets/fonts/Arsenal-Italic.woff2") format("woff2"), url("assets/fonts/Arsenal-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arsenal;
  font-display: swap;
  src: url("assets/fonts/Arsenal-Regular.woff2") format("woff2"), url("assets/fonts/Arsenal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}