body {
  // background: #f5f4f6;
  // font-family: sans-serif;
  // margin: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  // // color: white;

}

// h1 {
//   // background: linear-gradient(to right, #ff1f35 0, #fa54ff 100%);
//   background: linear-gradient(to right, rgb(2, 144, 253) 0, rgb(113, 193, 254) 100%);
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
//   font-size: 48px;
// }

.images {
  display: flex;
  gap: 5px;
}

img {
  width: 150px;
}

// success повідомлення
.alert {
  // padding: 0;
  // margin: 0;
}